*
{
	margin: 0em;
	padding: 0em;
}



body
{
	background-color: #222222;
	color: #ffffff;
	font-family: "Verdana", serif;
	font-size: 10pt;
}

#outer
{
	width: 860px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.0em;
	background-color: #313131;	
	padding: 1.0em;
	border: solid 4px #121212;
	margin-bottom: 1.0em;
}


#header
{
	padding: 0.8em 1.2em 1.2em 1.2em;
}

#header h1
{
	font-size: 2.8em;
	text-transform: none;
	font-weight: bold;
	font-family: "Trebuchet MS", serif;
	color: #FF0084;
}

#header h1 a
{
	color: #FF0084;
}

#header h1 a:link, a:visited
{
	text-decoration: none;
}

#header h2
{
	position: relative;
	text-transform: none;
	font-family: "Trebuchet MS", serif;
	font-size: 1.5em;
	color: #4096EE;
}

#header h1 sup {
	color:#DDDDDD;
	font-size: 0.5em;
	
}

nav {
  width : 100%; 
}


.mine{
	padding : 10px;
  	background : #666666; 
 	color : white;
  	font-size : 1.2em;
  	cursor: pointer;
 	display: block;
}

.mine::after {
	float: right;
  	right: 10%;
  	content: "+";
}

.slide {
  	clear:both;
  	width:100%;
  	height:0px;
  	overflow: hidden;
  	text-align: left;
  	transition: height .4s ease;
}

.slide li {padding : 30px;}

#touch {
	position: absolute;
	opacity: 0; 
	height: 0px;
}    

#touch:checked + .slide {
	height: 100%;} 


#touch2 {
	position: absolute;
	opacity: 0; 
	height: 0px;
}    

#touch2:checked + .slide {
	height: 100%;} 

#touch3 {
	position: absolute;
	opacity: 0; 
	height: 0px;
}    

#touch3:checked + .slide {
	height: 100%;}


#touch4 {
	position: absolute;
	opacity: 0; 
	height: 0px;
}    

#touch4:checked + .slide {
	height: 100%;} 



#search
{
	position: absolute;
	float: right;
	top: 6.2em;
	right: 4.0em;
	padding-right: 2.3em;
}


#topright
{
	position: absolute;
	float: right;
	top: 2.2em;
	right: 4.0em;
	padding-right: 2.3em;
}


#topright ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", serif;
	font-size: 1.0em;
	font-weight: bold;
}

#topright li
{
	position: relative;
	Width: 240px;
	margin: 0px;
	padding: 0px;
}

#topright li a
{
	height: 1.6em;	
	position: relative;
	display: block;
	color: #ffffff;
	background: #222222;
	padding: 10px 0px 5px 7px;
	text-decoration: none;
}

#topright li a:hover
{
	color: #777777;
	background: #121212;
}



#content
{
	margin-top: 1.0em;
	padding: 1.2em;
	line-height: 1.9em;
	font-size: 0.9em;
	position: relative;
}

#footer
{
	height: 1.0em;
	font-family: "Trebuchet MS", serif;
	font-size: 0.9em;
	color: #777777;
	background-color: #262626;
	padding-left: 1.2em;
	padding-top: 1.0em;
	padding-bottom: 1.3em;
	clear: both;
}

#footer a
{
	color: #999999;
	text-decoration: underline;
}

#footer a:hover
{
	text-decoration: none;
	color: #fff;
}

#column1
{
	width: 554px;
	float: left;
	position: relative;
}

#column1 p
{
	text-align: left;
	margin-bottom: 0.2em;
	color: #e0e0e0;
}


#column1 a
{
	color: #FF0084;
	text-decoration: underline;
}

#column1 a:hover
{
	text-decoration: none;
	color: #4096EE;
}


#column1 h1
{
	font-family: "Trebuchet MS", serif;
	font-size: 1.6em;
	color: #4096EE;
	margin-bottom: 0.2em;
}

#column1 h2
{
	font-family: "Trebuchet MS", serif;
	font-size: 1.6em;
	color: #4096EE;
	margin-Top: 1.0em;
	margin-bottom: 0.2em;
}


#column1 h3
{
	font-family: "Trebuchet MS", serif;
	font-size: 2.2em;
	line-height: 1.3em;
	color: #FF0084;
	margin-bottom: 0.5em;
}

#column1 h4
{
	font-family: "Trebuchet MS", serif;
	font-size: 1.5em;
	line-height: 1.3em;
	color: #4096EE;
	margin-bottom: 0.5em;
}


#column1 h5
{
	font-family: "Trebuchet MS", serif;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.3em;
	color: #ac64fe;
	margin-bottom: 0.5em;
}

#column1 img
{
	border: 0;
}


#column2
{
	width: 240px;
	float: right;
	position:relative;
	margin-left: auto;
}

#column2 p
{
	text-align: justify;
	margin-bottom: 2.0em;
	color: #ffffff;
	font-size: 1.0em;
}

#column2 h3
{
	font-size: 1.3em;
	font-family: "Trebuchet MS", serif;
	color: #4096EE;
	border-bottom: dashed 1px #777777;
	margin-bottom: 1.0em;
}

#column2 ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#column2 li
{
	position: relative;
	Width: 240px;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #353535;
}

#column2 li a
{
	height: 2.1em;	
	position: relative;
	display: block;
	color: #ffffff;
	background: #222222;
	padding: 5px 0px 5px 24px;
	text-decoration: none;
}

#column2 li a:hover
{
	color: #777777;
	background: #121212;
}

.code {
	
	font-size: 1.1em;
	color: #ffffff;
	font-family: 'JetBrains Mono', monospace;
    letter-spacing: .025em;
    background-color: #46588b;
    border-radius: 0.125rem;
    padding: 0.1rem 0.2rem;
    white-space: pre-wrap;

}


.textbgcols1 {
	
	font-size: 1.3em;
	color: #ffffff;
	font-family: 'JetBrains Mono', monospace;
    letter-spacing: .025em;
    background-color: #79a70e;
    border-radius: 0.125rem;
    padding: 0.1rem 0.2rem;
    white-space: pre-wrap;

}


.textbgcols2 {
	
	font-size: 1.3em;
	color: #ffffff;
	font-family: 'JetBrains Mono', monospace;
    letter-spacing: .025em;
    background-color: #828ef5;
    border-radius: 0.125rem;
    padding: 0.1rem 0.2rem;
    white-space: pre-wrap;

}


.textbgcols3 {
	
	font-size: 1.3em;
	color: #ffffff;
	font-family: 'JetBrains Mono', monospace;
    letter-spacing: .025em;
    background-color: #d97706;
    border-radius: 0.125rem;
    padding: 0.1rem 0.2rem;
    white-space: pre-wrap;

}


.buttons {
	
	font-size: 1.3em;
	color: #ffffff;
	font-family: 'JetBrains Mono', monospace;
	font-weight: bold;
    letter-spacing: .025em;
    background-color: #46588b;
    border-radius: 0.125rem;
    padding: 0.1rem 0.2rem;
    white-space: pre-wrap;
}
/* forms */

.styled {
	border: 1px double #E5E5E5;
	padding: 5px 6px 5px 6px;
	font-family: "Verdana", serif;
	font-size: 1.0em;
	color: #555555;
}

.button {
	border: 2px solid #71B1F2;
	background-color: #1167BD;
	margin-left: 5px;
	padding: 2px 3px 2px 3px;
	font-family: "Trebuchet MS", serif;
	color: #ffffff;
	font-size: 0.9em;
}


.myImg {
  border-radius: 15px;
	
	
 
}

hr {margin-top: 1em;
  border: 1px dashed #999999;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  border-left: 3px solid #1167BD;
}


